.home {
    width: 100vw;
    height: 100vh;
    background-color: rgba(72, 68, 68, 0.7);
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home__details {
    display: grid;
  
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    align-items: center;
  
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  
    background: white;
  }
  
  .home__image {
    max-width: 500px;
    margin: 20px auto;
  }
  
  .home__image img {
    max-width: 100%;
  }
  
  .home__close {
    position: absolute;
    top: 10px;
    right: 10px;
  
    width: 30px;
    height: 30px;
  
    background: transparent;
    border: none;
  
    cursor: pointer;
  }
  
  .home__close img {
    width: 25px;
    height: 25px;
  }
  
  .home__overview {
    height: 100%;
    margin: 0 20px;
    padding-right: 40px;
  
    overflow-y: scroll;
  }
  
  .home__overview h1,
  .home__overview h2,
  .home__overview hr {
    margin: 10px auto;
  }
  
  .home__overview ul {
    margin-left: 40px;
  }
  
  .home__buy,
  .home__contact,
  .home__owned {
    margin: 20px 5px;
  
    background-color: var(--clr-blue);
    color: var(--clr-white);
  
    border: none;
    border-radius: 4px;
  
    font-family: "Open Sans";
    font-size: 1.10em;
    font-weight: 600;
  
    cursor: pointer;
    transition: all 250ms ease;
  }
  
  .home__buy {
    width: 225px;
    height: 50px;
  }
  
  .home__buy:hover {
    background-color: var(--clr-blue-2);
  }
  
  .home__contact {
    width: 150px;
    height: 50px;
  
    background-color: transparent;
    color: var(--clr-blue);
  
    border: 1px solid var(--clr-blue);
  }
  
  .home__contact:hover {
    background-color: #f7f7f7;
    color: var(--clr-blue-2);
  }
  
  .home__owned {
    height: 50px;
    background-color: var(--clr-green);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: default;
  }